# eeg_BIDS has the original data. too large for GitHub
data/original_data/eeg_BIDS

# some of the .fif files in data/preproc are too large for GitHub
data/preproc/*/*.fif
data/preproc_highRAM/*/*.fif

data/chanlocs/

