
data/chanlocs/chanlocs_besa.txt

data/chanlocs/chanlocs_ced.txt

data/events/EMP01_events.csv

data/events/EMP02_events.csv

data/events/EMP03_events.csv

data/events/EMP04_events.csv

data/events/EMP05_events.csv

data/events/EMP06_events.csv

data/events/EMP07_events.csv

data/events/EMP08_events.csv

data/events/EMP09_events.csv

data/events/EMP10_events.csv

data/events/EMP11_events.csv

data/events/EMP12_events.csv

data/events/EMP13_events.csv

data/events/EMP14_events.csv

data/events/EMP15_events.csv

data/events/EMP16_events.csv

data/events/EMP17_events.csv

data/events/EMP18_events.csv

data/events/EMP19_events.csv

data/events/EMP20_events.csv

data/events/EMP21_events.csv

data/events/EMP22_events.csv

data/events/EMP23_events.csv

data/events/EMP24_events.csv

data/events/EMP25_events.csv

data/events/EMP26_events.csv

data/events/EMP27_events.csv

data/events/EMP28_events.csv

data/events/EMP29_events.csv

data/events/EMP30_events.csv

data/events/EMP31_events.csv

data/events/EMP32_events.csv

data/events/EMP33_events.csv

data/events/TriggerTable.csv

data/preproc/sub-001_droppedEpochs.txt

data/preproc/sub-001-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-002_droppedEpochs.txt

data/preproc/sub-002-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-003_droppedEpochs.txt

data/preproc/sub-003-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-004_droppedEpochs.txt

data/preproc/sub-004-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-005_droppedEpochs.txt

data/preproc/sub-005-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-006_droppedEpochs.txt

data/preproc/sub-006-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-007_droppedEpochs.txt

data/preproc/sub-007-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-008_droppedEpochs.txt

data/preproc/sub-008-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-009_droppedEpochs.txt

data/preproc/sub-009-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-010_droppedEpochs.txt

data/preproc/sub-010-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-011_droppedEpochs.txt

data/preproc/sub-011-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-012_droppedEpochs.txt

data/preproc/sub-012-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-013_droppedEpochs.txt

data/preproc/sub-013-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-014_droppedEpochs.txt

data/preproc/sub-014-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-015_droppedEpochs.txt

data/preproc/sub-015-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-016_droppedEpochs.txt

data/preproc/sub-016-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-017_droppedEpochs.txt

data/preproc/sub-017-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-018_droppedEpochs.txt

data/preproc/sub-018-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-019_droppedEpochs.txt

data/preproc/sub-019-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-020_droppedEpochs.txt

data/preproc/sub-020-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-021_droppedEpochs.txt

data/preproc/sub-021-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-022_droppedEpochs.txt

data/preproc/sub-022-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-023_droppedEpochs.txt

data/preproc/sub-023-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-024_droppedEpochs.txt

data/preproc/sub-024-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-025_droppedEpochs.txt

data/preproc/sub-025-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-026_droppedEpochs.txt

data/preproc/sub-026-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-027_droppedEpochs.txt

data/preproc/sub-027-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-028_droppedEpochs.txt

data/preproc/sub-028-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-029_droppedEpochs.txt

data/preproc/sub-029-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-030_droppedEpochs.txt

data/preproc/sub-030-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-031_droppedEpochs.txt

data/preproc/sub-031-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-032_droppedEpochs.txt

data/preproc/sub-032-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/preproc/sub-033_droppedEpochs.txt

data/preproc/sub-033-epo-ERP_RQ1_autoreject_0.1_HP_.fif

data/raw/eeg_BIDS/dataset_description.json

data/raw/eeg_BIDS/participants.tsv

data/raw/eeg_BIDS/README

data/raw/eeg_BIDS/sub-001/eeg/sub-001_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-001/eeg/sub-001_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-001/eeg/sub-001_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-001/eeg/sub-001_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-001/eeg/sub-001_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-001/eeg/sub-001_task-xxxx_events.json

data/raw/eeg_BIDS/sub-001/eeg/sub-001_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-002/eeg/sub-002_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-002/eeg/sub-002_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-002/eeg/sub-002_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-002/eeg/sub-002_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-002/eeg/sub-002_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-002/eeg/sub-002_task-xxxx_events.json

data/raw/eeg_BIDS/sub-002/eeg/sub-002_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-003/eeg/sub-003_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-003/eeg/sub-003_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-003/eeg/sub-003_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-003/eeg/sub-003_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-003/eeg/sub-003_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-003/eeg/sub-003_task-xxxx_events.json

data/raw/eeg_BIDS/sub-003/eeg/sub-003_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-004/eeg/sub-004_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-004/eeg/sub-004_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-004/eeg/sub-004_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-004/eeg/sub-004_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-004/eeg/sub-004_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-004/eeg/sub-004_task-xxxx_events.json

data/raw/eeg_BIDS/sub-004/eeg/sub-004_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-005/eeg/sub-005_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-005/eeg/sub-005_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-005/eeg/sub-005_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-005/eeg/sub-005_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-005/eeg/sub-005_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-005/eeg/sub-005_task-xxxx_events.json

data/raw/eeg_BIDS/sub-005/eeg/sub-005_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-006/eeg/sub-006_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-006/eeg/sub-006_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-006/eeg/sub-006_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-006/eeg/sub-006_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-006/eeg/sub-006_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-006/eeg/sub-006_task-xxxx_events.json

data/raw/eeg_BIDS/sub-006/eeg/sub-006_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-007/eeg/sub-007_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-007/eeg/sub-007_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-007/eeg/sub-007_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-007/eeg/sub-007_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-007/eeg/sub-007_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-007/eeg/sub-007_task-xxxx_events.json

data/raw/eeg_BIDS/sub-007/eeg/sub-007_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-008/eeg/sub-008_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-008/eeg/sub-008_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-008/eeg/sub-008_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-008/eeg/sub-008_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-008/eeg/sub-008_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-008/eeg/sub-008_task-xxxx_events.json

data/raw/eeg_BIDS/sub-008/eeg/sub-008_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-009/eeg/sub-009_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-009/eeg/sub-009_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-009/eeg/sub-009_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-009/eeg/sub-009_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-009/eeg/sub-009_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-009/eeg/sub-009_task-xxxx_events.json

data/raw/eeg_BIDS/sub-009/eeg/sub-009_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-010/eeg/sub-010_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-010/eeg/sub-010_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-010/eeg/sub-010_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-010/eeg/sub-010_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-010/eeg/sub-010_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-010/eeg/sub-010_task-xxxx_events.json

data/raw/eeg_BIDS/sub-010/eeg/sub-010_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-011/eeg/sub-011_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-011/eeg/sub-011_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-011/eeg/sub-011_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-011/eeg/sub-011_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-011/eeg/sub-011_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-011/eeg/sub-011_task-xxxx_events.json

data/raw/eeg_BIDS/sub-011/eeg/sub-011_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-012/eeg/sub-012_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-012/eeg/sub-012_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-012/eeg/sub-012_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-012/eeg/sub-012_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-012/eeg/sub-012_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-012/eeg/sub-012_task-xxxx_events.json

data/raw/eeg_BIDS/sub-012/eeg/sub-012_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-013/eeg/sub-013_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-013/eeg/sub-013_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-013/eeg/sub-013_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-013/eeg/sub-013_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-013/eeg/sub-013_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-013/eeg/sub-013_task-xxxx_events.json

data/raw/eeg_BIDS/sub-013/eeg/sub-013_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-014/eeg/sub-014_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-014/eeg/sub-014_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-014/eeg/sub-014_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-014/eeg/sub-014_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-014/eeg/sub-014_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-014/eeg/sub-014_task-xxxx_events.json

data/raw/eeg_BIDS/sub-014/eeg/sub-014_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-015/eeg/sub-015_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-015/eeg/sub-015_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-015/eeg/sub-015_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-015/eeg/sub-015_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-015/eeg/sub-015_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-015/eeg/sub-015_task-xxxx_events.json

data/raw/eeg_BIDS/sub-015/eeg/sub-015_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-016/eeg/sub-016_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-016/eeg/sub-016_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-016/eeg/sub-016_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-016/eeg/sub-016_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-016/eeg/sub-016_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-016/eeg/sub-016_task-xxxx_events.json

data/raw/eeg_BIDS/sub-016/eeg/sub-016_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-017/eeg/sub-017_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-017/eeg/sub-017_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-017/eeg/sub-017_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-017/eeg/sub-017_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-017/eeg/sub-017_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-017/eeg/sub-017_task-xxxx_events.json

data/raw/eeg_BIDS/sub-017/eeg/sub-017_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-018/eeg/sub-018_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-018/eeg/sub-018_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-018/eeg/sub-018_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-018/eeg/sub-018_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-018/eeg/sub-018_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-018/eeg/sub-018_task-xxxx_events.json

data/raw/eeg_BIDS/sub-018/eeg/sub-018_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-019/eeg/sub-019_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-019/eeg/sub-019_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-019/eeg/sub-019_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-019/eeg/sub-019_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-019/eeg/sub-019_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-019/eeg/sub-019_task-xxxx_events.json

data/raw/eeg_BIDS/sub-019/eeg/sub-019_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-020/eeg/sub-020_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-020/eeg/sub-020_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-020/eeg/sub-020_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-020/eeg/sub-020_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-020/eeg/sub-020_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-020/eeg/sub-020_task-xxxx_events.json

data/raw/eeg_BIDS/sub-020/eeg/sub-020_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-021/eeg/sub-021_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-021/eeg/sub-021_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-021/eeg/sub-021_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-021/eeg/sub-021_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-021/eeg/sub-021_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-021/eeg/sub-021_task-xxxx_events.json

data/raw/eeg_BIDS/sub-021/eeg/sub-021_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-022/eeg/sub-022_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-022/eeg/sub-022_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-022/eeg/sub-022_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-022/eeg/sub-022_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-022/eeg/sub-022_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-022/eeg/sub-022_task-xxxx_events.json

data/raw/eeg_BIDS/sub-022/eeg/sub-022_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-023/eeg/sub-023_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-023/eeg/sub-023_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-023/eeg/sub-023_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-023/eeg/sub-023_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-023/eeg/sub-023_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-023/eeg/sub-023_task-xxxx_events.json

data/raw/eeg_BIDS/sub-023/eeg/sub-023_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-024/eeg/sub-024_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-024/eeg/sub-024_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-024/eeg/sub-024_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-024/eeg/sub-024_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-024/eeg/sub-024_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-024/eeg/sub-024_task-xxxx_events.json

data/raw/eeg_BIDS/sub-024/eeg/sub-024_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-025/eeg/sub-025_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-025/eeg/sub-025_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-025/eeg/sub-025_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-025/eeg/sub-025_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-025/eeg/sub-025_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-025/eeg/sub-025_task-xxxx_events.json

data/raw/eeg_BIDS/sub-025/eeg/sub-025_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-026/eeg/sub-026_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-026/eeg/sub-026_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-026/eeg/sub-026_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-026/eeg/sub-026_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-026/eeg/sub-026_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-026/eeg/sub-026_task-xxxx_events.json

data/raw/eeg_BIDS/sub-026/eeg/sub-026_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-027/eeg/sub-027_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-027/eeg/sub-027_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-027/eeg/sub-027_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-027/eeg/sub-027_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-027/eeg/sub-027_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-027/eeg/sub-027_task-xxxx_events.json

data/raw/eeg_BIDS/sub-027/eeg/sub-027_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-028/eeg/sub-028_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-028/eeg/sub-028_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-028/eeg/sub-028_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-028/eeg/sub-028_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-028/eeg/sub-028_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-028/eeg/sub-028_task-xxxx_events.json

data/raw/eeg_BIDS/sub-028/eeg/sub-028_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-029/eeg/sub-029_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-029/eeg/sub-029_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-029/eeg/sub-029_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-029/eeg/sub-029_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-029/eeg/sub-029_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-029/eeg/sub-029_task-xxxx_events.json

data/raw/eeg_BIDS/sub-029/eeg/sub-029_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-030/eeg/sub-030_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-030/eeg/sub-030_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-030/eeg/sub-030_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-030/eeg/sub-030_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-030/eeg/sub-030_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-030/eeg/sub-030_task-xxxx_events.json

data/raw/eeg_BIDS/sub-030/eeg/sub-030_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-031/eeg/sub-031_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-031/eeg/sub-031_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-031/eeg/sub-031_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-031/eeg/sub-031_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-031/eeg/sub-031_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-031/eeg/sub-031_task-xxxx_events.json

data/raw/eeg_BIDS/sub-031/eeg/sub-031_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-032/eeg/sub-032_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-032/eeg/sub-032_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-032/eeg/sub-032_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-032/eeg/sub-032_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-032/eeg/sub-032_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-032/eeg/sub-032_task-xxxx_events.json

data/raw/eeg_BIDS/sub-032/eeg/sub-032_task-xxxx_events.tsv

data/raw/eeg_BIDS/sub-033/eeg/sub-033_task-xxxx_channels.tsv

data/raw/eeg_BIDS/sub-033/eeg/sub-033_task-xxxx_eeg.eeg

data/raw/eeg_BIDS/sub-033/eeg/sub-033_task-xxxx_eeg.json

data/raw/eeg_BIDS/sub-033/eeg/sub-033_task-xxxx_eeg.vhdr

data/raw/eeg_BIDS/sub-033/eeg/sub-033_task-xxxx_eeg.vmrk

data/raw/eeg_BIDS/sub-033/eeg/sub-033_task-xxxx_events.json

data/raw/eeg_BIDS/sub-033/eeg/sub-033_task-xxxx_events.tsv
